<div class="footer">
    <div class="pull-right">
        @Html.ActionLink("Close", "Index", "Surveys", new { patientId = Model.PatientId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Submit", "Index", "Surveys", new { patientId = Model.PatientId }, new { @class = "btn btn-primary" })
    </div>
    <div>
        <strong>Copyright</strong> AstraZeneca &copy; 2018
    </div>
</div>
