@model TrialsSurveys.Models.AQLQ_s_12

@{
    Layout = "~/Views/Surveys/_SurveyLayout.cshtml";
}



<div class="answer-container drag-answer">

    <div class="table-wrapper table-responsive">
        <div class="white-bg page-heading">
            <div class="col-sm-12 text-center">
                <h3>@Model.SurveyName</h3>
            </div>
        </div>
        <div class="SurveyInstructions">
            HOW LIMITED HAVE YOU BEEN DURING THE LAST 2 WEEKS IN THESE ACTIVITIES AS A RESULT
            OF YOUR ASTHMA?
        </div>
        <table cellpadding="0" cellspacing="0" class="parent-table">
            <thead>
                <tr class="anchor-row">
                    <th style="width: 2%"></th>
                    <th style="width: 28%;"></th>
                    <th colspan="7">
                    </th>
                </tr>
                <tr>
                    <th style="width: 2%"></th>
                    <th style="width: 28%;"></th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>Totally<br />Limited</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Extremely<br />
                                            Limited
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Very<br />
                                            Limited
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Moderate<br />
                                            Limitation
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Some<br />
                                            Limitation
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            A Little<br />
                                            Limitation
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Not at all<br />
                                            Limited
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="questionRow">
                    <td>1.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>
                                            STRENUOUS ACTIVITIES
                                            (such as hurrying, exercising,
                                            running up stairs, sports)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td><!-- react-empty: 165 -->
                </tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr>
                    <td>2.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>
                                            MODERATE ACTIVITIES
                                            (such as walking, housework,
                                            gardening, shopping, climbing
                                            stairs)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td><!-- react-empty: 193 -->
                </tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr>
                    <td>3.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>
                                            SOCIAL ACTIVITIES
                                            (such as talking, playing with
                                            pets/children, visiting
                                            friends/relatives)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td><!-- react-empty: 221 -->
                </tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr>
                    <td>4.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>
                                            WORK/SCHOOL-RELATED
                                            ACTIVITIES* (tasks you have
                                            to do at work/in school)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td><!-- react-empty: 249 -->
                </tr>
                <tr><td colspan="8">&nbsp;</td></tr>
                <tr>
                    <td>5.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>SLEEPING</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td><!-- react-empty: 277 -->
                </tr>
            </tbody>
        </table>
        <div class="SurveyInstructions SurveyBottom">
            *If you are not employed or self-employed, these should be tasks you have to do most days.
        </div>
        <div class="SurveyInstructions">
            HOW MUCH DISCOMFORT OR DISTRESS HAVE YOU FELT DURING THE LAST 2 WEEKS?
        </div>
        <table cellpadding="0" cellspacing="0" class="parent-table">
            <thead>
                <tr class="anchor-row">
                    <th style="width: 2%"></th>
                    <th style="width: 28%;"></th>
                    <th colspan="7">
                    </th>
                </tr>
                <tr>
                    <th style="width: 2%"></th>
                    <th style="width: 28%;"></th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            A Very<br />
                                            Great Deal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            A Great<br />
                                            Deal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            A Good<br />
                                            Deal
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Moderate<br />
                                            Amount
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Some
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            Very<br />
                                            Little
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="text-center">
                                        <div>
                                            None
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>6.</td>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div>
                                            How much discomfort
                                            or distress have you felt over
                                            the last 2 weeks as a result
                                            of CHEST TIGHTNESS?
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td>
                    <td class="text-center"><input type="radio" class="matrix-radio" name="es-matrix-input-1-5" value="on"></td><!-- react-empty: 277 -->
                </tr>
                <tr><td colspan="8">&nbsp;</td></tr>

            </tbody>
        </table>
        <br /><br /><br />
    </div>
</div>