@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>

<div class="surveyContainer">
    <div class="surveyQuestion">

    </div>
</div>

<div class="answer-container drag-answer">

    <div class="table-wrapper table-responsive">
        <table cellpadding="0" cellspacing="0" class="parent-table">
            <thead>
                <tr class="anchor-row">
                    <th style="width: 30%;"></th>
                    <th colspan="6">
                    </th>
                </tr>
                <tr>
                    <th style="width: 30%;"></th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-5" contenteditable="true">1<br>Terrible</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-6" contenteditable="true">2<br>Poor</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-7" contenteditable="true">3<br>Fair</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-8" contenteditable="true">4<br>Acceptable</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-9" contenteditable="true">5<br>Good</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-10" contenteditable="true">6<br>Very Good</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th style="min-width: auto; width: 10%;">
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-10" contenteditable="true">7<br>Excellent</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-11" contenteditable="true">Knowledge of the product</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-0" value="on"></td><!-- react-empty: 165 -->
                </tr>
                <tr>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-12" contenteditable="true">Courteousness</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-1" value="on"></td><!-- react-empty: 193 -->
                </tr>
                <tr>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-13" contenteditable="true">Willingness to help</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-2" value="on"></td><!-- react-empty: 221 -->
                </tr>
                <tr>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-14" contenteditable="true">Efficiency/quickness</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-3" value="on"></td><!-- react-empty: 249 -->
                </tr>
                <tr>
                    <td>
                        <div class="answer-options">
                            <div class="controls ">
                                <div class="control-label ">
                                    <div class="inline-editor">
                                        <div id="inline-editor-id-15" contenteditable="true">Ability to complete transaction</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td>
                    <td><input type="radio" class="matrix-radio" name="es-matrix-input-1-4" value="on"></td><!-- react-empty: 277 -->
                </tr>
            </tbody>
        </table>
    </div>
</div>